.svg-img {
    filter: brightness(0.8);
}

@media screen and (max-width: 430px) {
    .hero-img {
        width: 85%;
        height: 360px;
    }

    .floating-stat1 {
        width: 120px;
        height: 110px;
    }

    .floating-stat2 {
        width: 110px;
        height: 100px;
        bottom: 40px;
    }

    .floating-stat3 {
        width: 120px;
        height: 100px;
    }

    .svg-img {
        height: 750px;
        width: 100%;
    }
}